/**
 *  Area Chart Style
 */

.area-chart text.title {
  fill: #b8bbc0;
  font-size: 2.75em;
}

.area-chart .area {
  stroke-width: 2px;
}

.area-chart .area.red {
  fill: rgba(222, 46, 27, 0.5);
  stroke: #e2462b;
}

.area-chart .area.blue {
  fill: rgba(23, 167, 201, 0.5);
  stroke: #18bad5;
}

.area-chart .axis.x > path {
  fill: none;
}

.area-chart .axis.y > path {
  fill: none;
}

.area-chart .axis.x > g > text,
.area-chart .axis.y > g > text {
  fill: #b8bbc0;
  font-weight:bold;
}