/**
 *  Pie Chart Style
 */

.pie-chart text.indicator {
  text-anchor: middle;
  font-size: 38px;
  font-weight: bold;
}

.pie-chart .red {
  fill: rgba(255, 210, 205, 1);
}

.pie-chart .blue {
  fill: rgba(206, 236, 242, 1);
}

.pie-chart .background.red {
  fill: #e86253;
}

.pie-chart .background.blue {
  fill: #3fc5df;
}

.pie-chart .indicator.red {
  fill: #ffcbc5;
}

.pie-chart .indicator.blue {
  fill: #d0edf2;
}